      <div class="row">
        <div class="span12">
          <div id="section-header"></div>

          <div class="row">
            <div class="span6">
              <p>
                <img src="http://stage-api-2.asicentral.com/v1/<%= ImageUrl %>" alt="">
              </p>
              <h1><%= Name %></h1>
              <h3><a href="/#!/supplier/<%= Supplier.Id %>"><%= Supplier.Name %></a></h3>
            </div>
            <div class="span6">
            </div>
          </div>
        </div>
      </div>
